name: Build TDLib

on:
  workflow_dispatch:
  workflow_call:

env:
    TDLIB_VERSION: "1.8.60"
    TDLIB_COMMIT: cb863c1600082404428f1a84e407b866b9d412a8

jobs:
  build-linux:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
          - os: ubuntu-24.04-arm
    runs-on: ${{ matrix.os }}
    steps:
      - name: Restore cache TDLib
        id: cache-tdlib-restore
        uses: actions/cache/restore@v4
        with:
          path: td/
          key: tdlib-${{ env.TDLIB_VERSION }}-${{ matrix.os }}-${{ runner.arch == 'ARM64' && 'aarch64' || 'x86_64' }}
      - name: Build TDLib
        if: steps.cache-tdlib-restore.outputs.cache-hit != 'true'
        run: |
          sudo apt-get update
          sudo apt-get -y upgrade
          sudo apt-get install make git zlib1g-dev libssl-dev gperf php-cli cmake clang-18 libc++-18-dev libc++abi-18-dev
          git clone https://github.com/tdlib/td.git
          cd td
          git checkout $TDLIB_COMMIT
          rm -rf build
          mkdir build
          cd build
          CXXFLAGS="-stdlib=libc++" CC=/usr/bin/clang-18 CXX=/usr/bin/clang++-18 cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX:PATH=../tdlib ..
          cmake --build . --target install
      - name: Save cache TDLib
        uses: actions/cache/save@v4
        if: steps.cache-tdlib-restore.outputs.cache-hit != 'true'
        with:
          path: td/
          key: tdlib-${{ env.TDLIB_VERSION }}-${{ matrix.os }}-${{ runner.arch == 'ARM64' && 'aarch64' || 'x86_64' }}
      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: tdlib-${{ env.TDLIB_VERSION }}-${{ matrix.os }}-${{ runner.arch == 'ARM64' && 'aarch64' || 'x86_64' }}
          path: ./td/tdlib/
          overwrite: true

  build-macos:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: macos-14 # Apple Silicon
          - os: macos-15 # Latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: Restore cache TDLib
        id: cache-tdlib-restore
        uses: actions/cache/restore@v4
        with:
          path: td/
          key: tdlib-${{ env.TDLIB_VERSION }}-${{ matrix.os }}-${{ runner.arch == 'ARM64' && 'aarch64' || 'x86_64' }}
      - name: Build TDLib
        if: steps.cache-tdlib-restore.outputs.cache-hit != 'true'
        run: |
          brew install gperf openssl
          git clone https://github.com/tdlib/td.git
          cd td
          git checkout $TDLIB_COMMIT
          rm -rf build
          mkdir build
          cd build
          cmake -DCMAKE_BUILD_TYPE=Release -DOPENSSL_ROOT_DIR=${{ runner.arch == 'ARM64' && '/opt/homebrew/opt/openssl/' || '/usr/local/opt/openssl/' }} -DCMAKE_INSTALL_PREFIX:PATH=../tdlib ..
          cmake --build . --target install
      - name: Save cache TDLib
        uses: actions/cache/save@v4
        if: steps.cache-tdlib-restore.outputs.cache-hit != 'true'
        with:
          path: td/
          key: tdlib-${{ env.TDLIB_VERSION }}-${{ matrix.os }}-${{ runner.arch == 'ARM64' && 'aarch64' || 'x86_64' }}
      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: tdlib-${{ env.TDLIB_VERSION }}-${{ matrix.os }}-${{ runner.arch == 'ARM64' && 'aarch64' || 'x86_64' }}
          path: ./td/tdlib/
          overwrite: true

  build-windows:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
          # windows-11-arm excluded: gperf doesn't compile via vcpkg on ARM64
    runs-on: ${{ matrix.os }}
    steps:
      - name: Restore cache TDLib
        id: cache-tdlib-restore
        uses: actions/cache/restore@v4
        with:
          path: td/
          key: tdlib-${{ env.TDLIB_VERSION }}-${{ matrix.os }}-${{ runner.arch == 'ARM64' && 'aarch64' || 'x86_64' }}
      - name: Build TDLib
        if: steps.cache-tdlib-restore.outputs.cache-hit != 'true'
        run: |
          git clone https://github.com/tdlib/td.git
          cd td
          git checkout $TDLIB_COMMIT
          git clone https://github.com/Microsoft/vcpkg.git
          cd vcpkg
          git checkout 07b30b49e5136a36100a2ce644476e60d7f3ddc1
          ./bootstrap-vcpkg.bat
          if [[ "$RUNNER_ARCH" == "X64" ]]; then
            ./vcpkg.exe install gperf:x64-windows openssl:x64-windows zlib:x64-windows
            CMAKE_ARCH="x64"
          elif [[ "$RUNNER_ARCH" == "ARM64" ]]; then
            ./vcpkg.exe install gperf:arm64-windows openssl:arm64-windows zlib:arm64-windows
            CMAKE_ARCH="ARM64"
          else
            echo "Unsupported architecture: $RUNNER_ARCH"
            exit 1
          fi
          cd ..
          rm -rf build
          mkdir build
          cd build
          cmake -A "$CMAKE_ARCH" -DCMAKE_INSTALL_PREFIX:PATH=../tdlib -DCMAKE_TOOLCHAIN_FILE:FILEPATH=../vcpkg/scripts/buildsystems/vcpkg.cmake ..
          cmake --build . --target install --config Release
        shell: bash
      - name: Save cache TDLib
        uses: actions/cache/save@v4
        if: steps.cache-tdlib-restore.outputs.cache-hit != 'true'
        with:
          path: td/
          key: tdlib-${{ env.TDLIB_VERSION }}-${{ matrix.os }}-${{ runner.arch == 'ARM64' && 'aarch64' || 'x86_64' }}
      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: tdlib-${{ env.TDLIB_VERSION }}-${{ matrix.os }}-${{ runner.arch == 'ARM64' && 'aarch64' || 'x86_64' }}
          path: ./td/tdlib/
          overwrite: true
